*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim, "Apple SD Gothic Neo";
}
.mainPage{
	background-color: white;
	width: 100%;
	height: auto;
	display: flex;
    justify-content: flex-start;
}

/* 왼쪽 사이드바 스타일  */
.leftSidebar{
     /* background-color: #6181C5;  */
     background-color: white;
    width: 18%;
    height: auto;
}
.fixed{
     background-color: rgb(226, 109, 31); 
    background-color: white;
    width: 18%;
    height: 200px;
     position:fixed;
}
.SideHd{
    text-align: center;
    padding: 15px 20px 10px 20px;}
#channelPost{
    background-color: white;
    border: none;
    width: 100%;
    height: 45px;
    font-size: 16px;
    position: relative;
    top: 2%;
    outline: none;
}
#channelPost:hover{
    background-color: rgb(241, 241, 241);
    transition: 0.4s ease-in-out;
    color:rgb(1, 40, 167);
}
.SideHd{
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 40, 167);
}

.comPage{
    /* background-color: rgb(235, 248, 255); */
    background-color: white;
    border-color:  rgb(184, 184, 184);
    width: 68%;
    height: auto;
    position: relative;
    border: 1px solid rgb(223, 223, 223);
    border-left-width: 1px;
}
.FForm{
	background-color: white;
	width: 80%;
	height: auto; 
	margin: 0 auto;
	
}
.creatorRegisterHeader{
     background-color: white; 
     width: 100%;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
 
}
.creatorRegisterHeader h1{
    padding: 0 40px;
    color: rgb(42, 42, 112);
    text-align: center;
    font-size: 20px;
}

.RegisterForm{
    background-color: white;
    width: 68%;
    height: auto;
    font-size: 18px;
    padding: 5px;
}
.createForm{
     background-color: white; 
    width: 100%;
    height: auto;
}


#category{
    margin-top: 10px;
    padding:  5px 12px;
    border-radius: 3px;
    border : 2px solid rgb(99, 116, 139);
    outline: none;
    color: rgb(70, 69, 69);
}
#category:hover{
    background-color: rgb(222, 225, 241);
    transition: 0.4s;
    color: black;
}
.label{
    margin:  50px 30px;
    color: rgb(0, 134, 187);
    font-weight: bold;
    padding: 30px 20px;
}
.label5{
    /* 본인 유튜브 스튜디오 메인 페이지~~~ 문구 */
    line-height: 80px;
}
body > div.applyMain > div.createForm > form > div > div.CateList > label{
   line-height: 30px;
}

.content{
	/* content 다.  */
    background-color: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    overflow: auto;
    padding: 20px;
    padding-top: 50px;
}
.timesBtn{
    width: 20px;
    height: 20px;
    position: relative;
    background-color: white;
    border: 2px solid grey;
    border-radius: 3px;
}
.timesBtn svg{
    position:absolute;
    top: 5%;
    right: 20%;
    color: rgb(0, 0, 175);
}
.uploadFileBox{
    /* background-color: gold; */
    width:90%;
    height: 60px;
    margin: 0 auto;
}
.ChseBtn{
    padding:  0 10px;
}
.ChseBtn input[type="file"]{
    font-size: 20px;
    color: rgb(14, 79, 184);
    display: none;
}
.uploadFileBox label{
    padding: 6px 25px;
    background-color: paleturquoise;
    border-radius: 4px;
}
.uploadFileBox label:hover{
    background-color: rgb(27, 154, 228);
    color: rgb(245, 245, 245);
    transition: 0.3s;
}
.applyBtnBox{
    /* background-color: darkred; */
    width: 90%;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.submitBtn, .delBtn{
    margin: 4px;
    padding:  10px 16px;
    font-size: 14px;
    background-color: white;
    color: rgb(38, 124, 161);
    border: 1px solid rgb(119, 154, 168);
    outline: none;
    
}
.submitBtn:hover , .delBtn:hover{
    background-color: mintcream;
    color: rgb(0, 111, 126);
}
/* get get.html */
.uploadResult ul li, .thumbNail ul li{
    list-style-type: none;
}

/* pagination */
.postFooter{
/*     margin-top: 50px;
 */    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
        position: relative;
    
  }
  .postFooter ul li{
    list-style-type: none;
    display: inline;
    border-spacing: 0;
  }
  .postFooter ul li a{
    text-decoration: none;
    border-collapse: none;
    padding: 10px 12px;
    font-size: 16px;
    color: dodgerblue;
    border : 1px solid rgb(199, 199, 199);
  }
  .postFooter ul li a:hover, .active{
    color: rgb(0, 100, 182);
    background-color: rgb(223, 246, 255);
    transition: 0.3s ease-in-out;
  }
.borderR2{
    border-radius: 0 5px 5px 0;
  }
.borderR{
    border-radius: 5px 0 0 5px;
}

/* get.css  get*/
.line{
    background-color: rgb(199, 199, 199);
    height:1px;
    width: 90%;
    margin: 0 auto;
}
.emptyBox{
    width: 100%;
    height: 40px;
}

.Cmtcontainer{
    background-color: white;
    width: 90%;
    height: 150px;
    margin: 0 auto;
}
.comment{
    font-weight: bold;
    line-height: 50px;
}
.Cform{

    border: 2px solid rgb(209, 209, 209);
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
    height: 90px;
    position: relative;
}
.registerReply{
    width: 100%;
    border: none;
    outline: none;
    padding-left: 18px;
    height: 40px;
}
.input-group{
	width: 100%;
	height: 50%;
	position: relative;
}

.input-group-btn{
	position: absolute;
	width: 100px;
	height: 50px;
	right: 0;
	top: 24px;
}
.registerBtn{
   padding: 8px 20px;
    font-size: 15px;
    color: grey;
    background-color: white;
    border: none;
    outline: none;
    position: absolute;
    bottom: 0; 
    right: 0;
}


.reply{
    /* 댓글 열개 정도 보여줄 영역이 필요하다.  */
    /* background-color: rgb(243, 202, 231); */
 
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 48px;
}
.reply:first-child{
    margin-top: 60px;
}
.commentArea{
    padding: 10px;
    height: auto;
    position: relative;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.commentArea:last-child{
    margin-bottom: 30px;
	
}
.commentArea:hover{
    background-color: #f1f1f1;
    transition: 0.5s ease;
}
.userName{
    font-weight: bold;
    color:rgb(47, 47, 47);
    position: absolute;
    top: 10;
}
.Rnum{
    color: grey;
}
.replyCont{
    /* background-color: gold; */
    overflow:auto;
    margin-top: 50px;
    height: 60px;

}
.a{
    /* 수정 삭제 공통부분 */
   color: rgb(41, 62, 131);
   position: absolute;
   padding: 10px;
   cursor:pointer;
}
.a:hover{
    /* background-color: rgb(241, 241, 241); */
    color: darkslateblue;
    transition: 0.4s ease-in-out;
}
.mod{
    right: 40px;
    top: 0;
}
.del{
    right :0;
    top: 0;
}
.form-control{
    background-color: rgb(246, 252, 255);
    font-size: 20px;
    padding: 10px 15px;
    width: 90%;
    height: 50px;
   /*  border: 1px solid rgb(161, 161, 161); */
    border: 1px solid #b3b1b1;
    border-radius: 3px;
    margin: 14px 3px;
    outline: none;
    display: block;
    margin: 15px auto;
    margin-bottom: 25px;
    
}
.form-control{
	margin-top: 10px;
}
.form-control:first-child{
	margin-top: 20px;
}
.form-control:focus{
    border: 2px solid rgb(36, 66, 122);
}

.repForm{
	margin: 0;
	display: inline-block;
	padding: 0;
	padding-left: 10px;
	width: 90%;
}
.comment{
	height: auto;
	margin-top: 30px;
	position: relative;
}
.confirm{
	/* 수정시 확인 버튼  */
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10%;
	height: 45px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	margin-left: 4px;
	margin-bottom: 6px;
}
/* body > div.applyMain > div.createForm > div > div.reply > div > div > div > div > input:nth-child(1){
	
    background-color: rgb(246, 252, 255);
    font-size: 20px;
    padding: 10px 15px;
    width: 88%;
    height: 50px;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 3px;
    outline: none;
    display: inline-block;
     margin-top: 15px;
	
} */
.form-control:focus{
    border: 2px solid rgb(36, 66, 122);
}
.page-link{
	position: absolute;
	top: 0;
}